bosh-director: bosh-director-url
bosh-username: bosh-director-username-usually-admin
bosh-password: make-your-bosh-director-password
bosh-cert: |+
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----
redis-password: make-your-redis-server-password
