bosh-director: bosh-director-url
bosh-username: bosh-director-username
bosh-password: bosh-director-password
bosh-stemcell-name: bosh-warden-boshlite-ubuntu-trusty-go_agent
bosh-cert: |+
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----
